﻿<br />
<br />
<h1>About</h1>
<br />
<br />
<br /><h3>True Engineers is owned and operated by Bill Vickers.</h3>
<br />
<h3>Bill Vickers is getting a degree in Computer and Information Science at the University of North Florida.</h3>
<br />
<h3>True Engineers can handle any and all programming development from a small App to a large scale desktop application.</h3>
<br />
<br />
<br />

