﻿
<div class="form-group">
    <div class="col-md-offset-5">
        <h2>Resume</h2>
    </div>
</div>
<h4>BILL VICKERS</h4>
<br />
<p>bill-vickers@att.net</p>
<p>12 Cobia St, Ponte Vedra Beach, FL 32082</p>
<p>904-412-9526</p>
<br />
<h4>OBJECTIVE</h4>
<p>A passionate software developer, seeking an entry level position utilizing excellent problem solving skills.</p>
<br />
<h4>WORK EXPERIENCE</h4>
<p>True Engineers (Owner) &ensp;&ensp;6/2015-Present</p>
<p>•	Implementing scalable web applications using ASP.NET MVC 5, MS SQL Server, HTML5, CSS, JavaScript, JQuery.</p>
<p>•	Experience in gathering requirements and converting business requirements into functional specifications and in 
    creating Use Cases, Sequence Diagrams, Collaboration diagrams, Activity Diagrams and Class Diagrams with good 
    knowledge of Business Process Modeling tools like Visio. </p>
<p>•	Very familiar with all phases of Software Development Life Cycle (SDLC) from Requirements, Analysis, Design, 
    Construction, Testing and User Acceptance Testing (UAT). </p>
<p>•	Designing applications using Lean Agile Software methodologies.</p>
<p>•	Object Oriented Design, designing user experience, and database design.</p>
<p>•	Effectively translates specification documents and business requirements into program code; create, modify, 
    and interpret application design specification documents from which code will be written.</p>
<p>•	Experience using JIRA, Scrum, and Kanban.</p>
<br />
<p>House Hunter Realty of Jacksonville, Inc &ensp;&ensp;2005 - 2015</p>
<p>•	Querying Multiple Listing Service database using RealtyWeb.net for real estate appraising.</p>
<p>•	Managing multiple contractors and employees.</p>
<p>•	Working with customers utilizing professional speaking skills with a positive attitude.</p>
<br />
<h4>RELEVANT EXPERIENCE</h4>
<p>•	Built an ASP.NET web application: www.TrueEngineers.net.  Application was built using MVC5 and was connected
    to a MS SQL.  Database was connected using Entity Framework.</p>
<p>•	Implemented an ASP.NET web application: www.GitLove.org. This application was built using MVC5
    and was connected to a MS SQL Server.  Database was connected using Entity Framework.</p>
<p>•	Implemented an ASP.NET web application: CheckInSystem.azurewebsites.net.  This application was built using MVC5
    and was connected to a MS SQL Server.  Has a local database.</p>
<br />
<h4>SOFTWARE KNOWLEDGE</h4>
<p>•	C#,  ASP.NET MVC5,   VB,  HTML5,  Razor,   Bootstrap,  CSS,   JavaScript,   JQuery,   Java,   PHP</p>
<p>•	MS SQL Server, Visual Studio 2015, Team Foundation Server, GitHub, Bitbucket, and Entity Framework</p>
<p>•	NetBeans IDE, Eclipse IDE,   MS Access,   MS Office,  Android Studio,  Xcode</p>
<br />
<h4>EDUCATION</h4>
<p>University of North Florida, Jacksonville, FL</p>
<p>•	BS in Computer and Information Science &ensp;&ensp;Expected Graduation: Spring 2016</p>
<p>•	BA in Education 1997</p>
<br />

