﻿
@{
    ViewBag.Title = "YouHaveRegistered";
}
<br />
<br />
<br />
<h2>Thank You For Registering</h2>
<br/>
<br />
<br />
<h4>View Resume</h4>
<br />
<br />
<p><a class="btn btn-primary btn-lg" href="http://www.trueengineers.net/Home/Resume">Resume &raquo;</a></p>
<br />
<br />
<br />
